body, html {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: standardtext, serif;
    color: #f3f3f3;
    text-shadow: 0 0 1px grey;
}

h1 {
    font-size: 52px;
}

.box-sizing {
    box-sizing: border-box;
}

.bg-box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 1;
    box-shadow: inset -3px -3px 15px 3px black;
}

.bg-image {
    /* The image used */
    opacity: 0.5;

    /* Add the blur effect */
    filter: blur(20px);
    -webkit-filter: blur(20px);

    /* Full height */
    height: 120%;
    width: 120%;
    margin: -5%;

    /* Center and scale the image nicely*/
    background-position: center center;
    background-size: cover;

    animation: moving-background 120s linear infinite;
}

.bg-image-black {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    background-color: black;
    transition: opacity 1s;
}

@keyframes moving-background {
    from { 	transform: rotate(0deg) translateX(4%) rotate(0deg); }
    to   {  transform: rotate(-360deg) translateX(4%) rotate(360deg); }
}

.img-bot {
    z-index: -5;
    opacity: 1;
    position: absolute
}

.img-top {
    background-image: url("../img/default-background.png");
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -4;
    position: absolute
}

.video-container-background {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-color: black;
    opacity: 0;
    transition: opacity 1s;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    opacity: 0;
    transition: opacity 1s;
}

.bg-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: 1s;
}

.loading-text-block {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 3;
    text-align: center;
}

.loading-text {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
    width: 120px;
    height: 120px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0b8337;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.screen-left {
    width: 480px;
    height: 1080px;
    float: left;
    border-right: 4px solid black;
}

.screen-middle {
    float: left;
    width: 1426px;
}

.screen-right {
    width: 6px;
    float: left;
    height: 100%;
}

.score-bar-outer {
    height: 100%;
    width: 100%;
}

.score-bar-inner {
    height: 200%;
    width: 200%;
    background-color: #0b8337;
    top: 100%;
    position: relative;
    box-shadow: -3px -3px 15px 3px black;
}

.score-bar-animation {
    animation-name: flicker-red-green;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flicker-red-green {
    from  {background-color: darkred}
    to {background-color: #0b8337}
}

.header {
    height: 140px;
    padding: 20px;
}

.logo {
    float: left;
    margin-right: 20px;
}

#logo {
    -webkit-animation-name: rotate-logo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 45s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-name: rotate-logo;
    animation-duration: 45s;
    animation-iteration-count: infinite;
}

@keyframes rotate-logo {
    0%      {transform: rotateY(0)}
    45%     {transform: rotateY(0)}
    50%     {transform: rotateY(180deg)}
    95%     {transform: rotateY(180deg)}
    100%    {transform: rotateY(0)}
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.logo-title {
    float: left;
    /*color: white;*/
    margin-top: -20px;
}

.tikker-title {
    font-family: title, serif;
    vertical-align: center;
    font-size: 80px;
}

.tikker-subtitle {
    font-family: subtitle, serif;
    vertical-align: center;
    font-size: 30px;
}

.tikker-status {
}

.server-status {
    font-size: 20px;
}

.status-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 7px;
}

.pulsation {
    animation: opacityPulse 5s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
}

@-webkit-keyframes opacityPulse {
    0% {opacity: 1.0;}
    50% {opacity: 1.0;}
    75% {opacity: 0.0;}
    100% {opacity: 1.0;}
}

.stats-table {
    width: 100%;
    padding: 25px;
    font-size: 24px;
}

.stats-cell-value {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.right-header {
    height: 100px;
}

.bk-box {
    width: 100%;
    height: 300px;
    font-size: 70px;
}

#bk {
    text-align: center;
    margin-top: 100px;
}

.last-tikked {
    float: left;
    margin: 18px 30px;
    padding-top: 24px;
    width: 1100px;
    height: 4rem;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    /*box-shadow: 12px 0 15px -4px rgba(255, 255, 255, 0.8), -12px 0 8px -4px rgba(255, 255, 255, 0.8);*/
}

.marquee {
    font-size: 28px;
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    animation: marquee 20s linear 1;
}

@keyframes marquee {
    0%   { transform: translateX(0) }
    100% { transform: translateX(-100%) }
}

.clock {
    font-size: 80px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 40px;
    margin-right: 40px;
}

.contentbackground {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 40px 80px 50px;
    width: 1276px;
    height: 640px;
}

.slide-progress-bar {
    width: 1276px;
    height: 12px;
}

.slide-progress-bar-outer {
    height: 100%;
    width: 33%;
    padding: 4px;
    float: left;
}

.slide-progress-bar-inner {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    overflow: hidden;
}

.slide-progress-bar-animation {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transform: translateX(-100%);
}

.content {
    width: 1276px;
    height: 640px;
    transform: translateY(-12px);
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    transition: opacity 0.5s;
    transition-timing-function: ease;
    -webkit-transition: 0.5s;
    -webkit-transition-timing-function: ease;
}

@keyframes move-quote-left {
    from {
        transform: translateX(10%)
    }
    to {
        transform: translateX(-10%)
    }
}

@keyframes move-quote-right {
    from {
        transform: translateX(-10%)
    }
    to {
        transform: translateX(10%)
    }
}

.quote-content {
    animation: move-quote-right 21s linear 1;
    padding: 0 10%;
}

.quote-author {
    animation: move-quote-left 21s linear 1;
    padding: 0 10%;
}

.tikker-offline {
    color: red;
    font-size: 30px;
}

.graph {
    margin: 25px 88px;
    width: 1000px !important;
    height: 480px !important;
}

.pricelist {
    height: 500px;
    width: 100%
}

/* Position text in the middle of the page/image */
.bg-text-old {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
    color: red;
    font-weight: bold;
    font-family: standardtext;
    font-size: 40px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 80%;
    padding: 20px;
    text-align: center;
}

.loading-error {
    color: red;
    width: 800px;
    margin: 30px 30px 30px -400px;
    font-size: 20px;
    visibility: hidden;
}
