.background {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('test_background.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.content {
    position: absolute;
}

#header {
    width: 100vw;
    height: 15vh;
}

#content {
    width: 100vw;
    height: 70vh;
}

#footer {
    width: 100vw;
    height: 15vh;
}

#tikker-offline {
    text-align: center;
    color: red;
    text-shadow: white 10px 10px 10px 10px;
}

#large {
    font-size: x-large;
}

#small {
    font-size: medium;
}

body {
    padding: 0;
    margin: 0;
}