@font-face {
    font-family: standardtext;
    src: url(../font/body_breeserif.ttf);
    font-size: 20px;
}

@font-face {
    font-family: menu-items;
    src: url(../font/body_breeserif.ttf);
}

@font-face {
    font-family: title;
    src: url(../font/Blanka-Regular.otf);
}

@font-face {
    font-family: subtitle;
    src: url(../font/LemonMilk.otf);
}
